:root {
  --black: #000000;
  --lead: #1d1f20;
  --mercury: #eaebeb;
  --lynx-white: #f7f7f8;
  --white: #ffffff;
  --shrimp-cocktail: #f4a15d;
  --cream-blush: #f8c296;
  --alluring-gesture: #fbdbc1;
  --pico-ivory: #fdf1e7;
  --sea-mist: #d8eee1;
  --garland-white: #f8f6f8;
  --peaceful-rain: #eff8f3;
  --black-feather: #0c2427;
  --fog-of-war: #0c2231;
  --prestige-green: #164249;
  --duskwood: #163d57;
  --pacific: #1d5962;
  --king-tide: #26727e;
  --sea-bed: #2b818e;
  --blues: #276d9b;
  --blue-bird-day: #2c7cb0;
  --marine-tinge: #35a0b1;
  --indigo-white: #e9f7f9;
  --insignia-white: #ebf4fa;
  --quill-tip: #2c365e;
}